<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="#home">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="#login">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="#register">Register</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="#" (click)="logout(); $event.preventDefault()">Logout</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
            Plantes
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#plantes">Llista</a></li>
            <li><a class="dropdown-item" href="#plantesTables">Taula</a></li>
          </ul>
        </li>
      </ul>

      @if (session()!= null) {
        <span class="navbar-text me-3">
          Logged in as {{ session()!.user.email }}
        </span>
      }
      

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
        [(ngModel)]="searchString"
        [ngModelOptions]="{standalone: true}"
        (ngModelChange)="search($event)"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
